<div class="card text-white">
        <div class="card-header bg-dark">
         <div class="row">
            <div class="col-12 text-center">
                <h2>{{title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="fs-6" >Created by {{user.username}} on {{format_date date_created}}</p>
            </div>
          </div>  
        </div>
    <div class="card-body text-dark text-center">
        <textarea disabled class="form-control">{{description}}</textarea>
        <button class="btn btn-dark col-3 mt-3" id="updateButton" data-id="{{user.id}}" data-id2="{{id}}" style="display: none;">Update Post</button>
    </div>
    
            

    <div class="card-footer text-dark">

    {{#if commentaries.length}}
        <div class="card text-white">
                <div class="card-header bg-dark">
                <div class="row">
                    <div class="col-12">
                        <h2>Comments</h2>
                    </div>
                    </div>
                </div>
                {{#each commentaries as |comments|}}
                <div class="card w-100">
                <div class="card-body" style="color:black">
                    <div class="row">
                    <div class="col-9">
                        <p class="card-text">{{comments.text}}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Commented by {{comments.user.username}} on {{format_date comments.date_created}}</h6>
                    </div>
        
                    <div class="col-3">
                        <button class="btn btn-sm btn-danger" style="display: none;" data-id="{{comments.user.id}}" data-id2="{{comments.id}}">DELETE</button>
                    </div>

                    </div>
                </div>
                </div>
                {{/each}}
        </div>
    {{/if}}
        <br>
        <form>
        <div class="mb-3">
            <textarea class="form-control" id="commentInput" rows="4" placeholder="Comment here..."></textarea>
        </div>
        </form>

            <button class="btn btn-dark" id="commentButton" data-id="{{id}}">Add Comment</button>

    </div>
</div>
<script src="/js/blogPost.js"></script>